{% extends "master.html" %}

{% block title %}
  Excercises with loops in Django
{% endblock %}


{% block content %}
  <p><a href="/">HOME</a></p>
  <h1>Excercises with loops in Django</h1>
  <h2>Usual for loop</h2>
  {% for x in mymembers %}
  <li>{{ x.id }}
    {{ x.firstname }}
    {{ x.lastname }}
  </li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
  
  <h2>Usual reversed for loop</h2>
  {% for x in mymembers reversed %}
  <li>{{ x.id }}
    {{ x.firstname }}
    {{ x.lastname }}
  </li>
  {% empty %}
    <li>No member</li>
  {% endfor %}

  <h2>Empty excercise</h2>
  {% for x in mymember %}
  {% empty %}
    <li>No member</li>
  {% endfor %}

  <h2>"if" excercise</h2>
  {% for x in mymembers %}
    {% if x.firstname != "" %}
      <li>{{ x.id }}
        {{ x.firstname }}
        {{ x.lastname }}
      </li> 
    {% else %}
      <li>No member</li>
  {% endif %} 
  {% endfor %}

  <h2>Another "if" excercise</h2> 
  {% if "Emil" in mymembersfnlist %}
    <li>Emil here</li> 
  {% else %}
    <li>No such member</li>
  {% endif %}
  
  {% include 'footer.html' %} 
{% endblock %}